<div class="container">

    <header>
        <div class="row">
            <div class="col-sm-12">
                <span class="headerIcon"> <i class="material-icons">security</i> </span> <span class="headerLabel">Secure Password Generator</span>
                <span class="clearfix"></span>
            </div>
        </div>
    </header>

    <section>
        <pg-generator></pg-generator>
    </section>

    <footer>
        <div class="row">
            <div class="col-sm-12">
                ProHint &copy; 2019
            </div>
        </div>
    </footer>
</div>