@import "../vars";

.pageHeader {
  margin: 25px 0 20px 0;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 1px 2px #000000;
  pointer-events: none;
}

.pageHeader .headerIcon {
  display: inline-block;
  float: left;
  color: $orange-color;
}

.pageHeader .headerLabel {
  display: inline-block;
  float: left;
  margin-left: 12px;
}

.pageHeader .headerIcon .material-icons {
  font-size: 50px;
  margin-left: -5px;
}

