@import "../assets/styles/vars";

.pageHeader {
  margin: 25px 0 20px 0;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 1px 2px #000000;
  pointer-events: none;
}

.pageHeader .headerIcon {
  display: inline-block;
  float: left;
  color: $orange-color;
}

.pageHeader .headerLabel {
  display: inline-block;
  float: left;
  margin-left: 12px;
  margin-top: 10px;
}

.pageHeader .headerIcon .material-icons {
  font-size: 50px;
  margin-left: -5px;
}


.footer {
  margin-top: 10px;
  color: #dcdcdc;
  text-align: right;
  font-size: 12px;
}

@media (min-width: 768px) {
  .pageHeader {
    font-size: 35px;
  }

  .pageHeader .headerLabel {
    margin-top: 0;
  }
}