<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="pageHeader">
                <span class="headerIcon"> <i class="material-icons">security</i> </span> <span class="headerLabel">Secure Password Generator</span>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>

    <pg-generator></pg-generator>

    <div class="row">
        <div class="col-sm-12">
            <div class="footer">ProHint &copy; 2019</div>
        </div>
    </div>
</div>