<div class="row">
    <div class="col-sm-12">
        <div class="form-group noselect inputViewWrapper">
            <label for="inputView"></label>
            <span class="inputViewButtons">
                <i class="material-icons" data-balloon="Copy" data-balloon-pos="up" (click)="onPasswordCopy(inputView)">get_app</i>
                <i class="material-icons" data-balloon="Refresh" data-balloon-pos="up" (click)="onOptionsChange()">refresh</i>
            </span>
            <input id="inputView" readonly class="form-control" spellcheck="false" [value]="password.plain" #inputView/>
            <div class="strengthBar">
                <div class="strengthInner strength{{password.strength}}">
                    <span class="strengthLabel">{{password.strengthName}}</span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-12">-->
    <!--<div>MD5: {{password.md5}}</div>-->
    <!--<div>SHA256: {{password.sha256}}</div>-->
    <!--<div>SHA512: {{password.sha512}}</div>-->
    <!--</div>-->
</div>

<div class="generatorOptions">
    <div class="row">
        <div class="col-md-7">
            <h6>Use characters:</h6>

            <div class="form-check">
                <label class="checkbox-container"> lowercase <span class="exampleLabel">(e.g. abcdef)</span>
                    <input type="checkbox" [(ngModel)]="lowercase" (change)="onOptionsChange($event)">
                    <span class="checkmark"></span>
                </label>

            </div>

            <div class="form-check">
                <label class="checkbox-container"> uppercase <span class="exampleLabel">(e.g. ABCDEF)</span>
                    <input type="checkbox" [(ngModel)]="uppercase" (change)="onOptionsChange($event)">
                    <span class="checkmark"></span>
                </label>
            </div>


            <div class="form-check">
                <label class="checkbox-container"> numbers <span class="exampleLabel">(e.g. 012345)</span>
                    <input type="checkbox" [(ngModel)]="numbers" (change)="onOptionsChange($event)">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-check">
                <label class="checkbox-container"> symbols <span class="exampleLabel">(e.g. !@#$%^)</span>
                    <input type="checkbox" [(ngModel)]="symbols" (change)="onOptionsChange($event)">
                    <span class="checkmark"></span>
                </label>
            </div>

        </div>

        <div class="col-md-5">

            <div class="lengthWrapper">
                <h6>Length:</h6>

                <div class="rangeWrapper">

                     <span class="lengthInputWrapper">
                        <input type="text" [(ngModel)]="length"/>
                     </span>

                    <span class="lengthSliderWrapper custom-range-slider">
                        <label for="passwordLength"></label>
                        <input type="range" class="slider" min="{{lengthMin}}" max="{{lengthMax}}" step="{{lengthStep}}"
                               [(ngModel)]="length" id="passwordLength" (input)="onOptionsChange()">
                 </span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="description">
                <ul>
                    <li>A secure password consists of <strong>at least 15 random characters</strong> and includes a combination of <strong>uppercase</strong> and <strong>lowercase</strong> letters, <strong>numbers</strong> and <strong>symbols</strong>.
                    </li>
                    <li>Use one unique password for every account.</li>
                    <li>Use a password manager to store your random passwords.</li>
                </ul>
            </div>
        </div>
    </div>
</div>