@import "../../../../assets/styles/vars";

.inputViewWrapper {
  position: relative;
}

#inputView {
  padding: 0 100px 15px 15px;
  font-size: 22px;
  line-height: 2.9;
  height: auto;
  box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}

.inputViewWrapper .strengthBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.inputViewWrapper .strengthBar .strengthLabel {
  position: absolute;
  left: 15px;
  bottom: 0;
  font-size: 13px;
  color: #ffffff;
}

.inputViewWrapper .strengthBar .strengthInner {
  height: 100%;
  width: 0;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.inputViewWrapper .strengthBar .strengthInner.strength0 {
  width: 20%;
  background-color: #ff0000;
}

.inputViewWrapper .strengthBar .strengthInner.strength2 .strengthLabel {
  color: #000000;
}

.inputViewWrapper .strengthBar .strengthInner.strength1 {
  width: 40%;
  background-color: $orange-color;
}

.inputViewWrapper .strengthBar .strengthInner.strength2 {
  width: 60%;
  background-color: #3cff81;
}

.inputViewWrapper .strengthBar .strengthInner.strength3 {
  width: 80%;
  background-color: $green-color;
}

.inputViewWrapper .strengthBar .strengthInner.strength4 {
  width: 100%;
  background-color: #000000;
}


.generatorOptions {
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0.25rem 0.25rem;
  font-size: 18px;
}

.generatorOptions h6 {
  color: $base-dark-gray-color;
  margin-bottom: 20px;
  font-size: 17px;
}

.generatorOptions .checkbox-container {
  font-size: 17px;
}

.generatorOptions .form-check {
  margin: 0 0 15px;
  padding-left: 0;
}

.generatorOptions .form-check:last-child, .generatorOptions .form-check:last-child .checkbox-container {
  margin: 0;
}

.generatorOptions .exampleLabel {
  font-size: 15px;
  color: #7a7a7a;
  margin-left: 2px;
}

.generatorOptions .lengthWrapper {
  margin-top: 30px;
}

.generatorOptions .rangeWrapper {
  display: flex;
}

.generatorOptions .lengthInputWrapper {
  width: 70px;
  margin-right: 20px;
}

.generatorOptions .lengthSliderWrapper {
  width: 100%;
  padding-top: 8px
}

.generatorOptions .lengthInputWrapper input {
  width: 100%;
  line-height: 2;
  text-align: center;
  font-size: 17px;
  pointer-events: none;
}

.generatorOptions .description{
  font-size: 14px;
  margin-top: 35px;
}

.generatorOptions .description ul{
  padding-left: 25px;
  margin-bottom: 0;
}

.inputViewWrapper .inputViewButtons {
  position: absolute;
  top: 41px;
  right: 25px;
  display: inline-block;
}

.inputViewWrapper .inputViewButtons i {
  font-size: 30px;
  color: $base-dark-gray-color;
  margin-left: 6px;
  cursor: pointer;
}


@media (min-width: 576px) {
  #inputView {
    padding: 0 90px 15px 30px;
  }

  .inputViewWrapper .strengthBar .strengthLabel {
    left: 30px;
  }

  .generatorOptions {
    padding: 30px;
  }
}


@media (min-width: 768px) {
  .generatorOptions .lengthWrapper {
    margin-top: 0;
  }

  #inputView {
    font-size: 25px;
  }

  .inputViewWrapper .inputViewButtons {
    top: 47px;
  }

}