<div class="row">
    <div class="col-sm-12">
        <div class="form-group noselect inputViewWrapper">
            <label for="inputView"></label>
            <span class="inputViewButtons">
                <i class="material-icons" data-balloon="Copy" data-balloon-pos="up" (click)="onPasswordCopy(inputView)">save_alt</i>
                <i class="material-icons" data-balloon="Refresh" data-balloon-pos="up" (click)="onOptionsChange()">refresh</i>
            </span>
            <input id="inputView" readonly class="form-control" spellcheck="false" [value]="password.plain" #inputView/>
            <div class="strengthBar"></div>
        </div>
    </div>
    <!--<div class="col-sm-12">-->
    <!--<div>MD5: {{password.md5}}</div>-->
    <!--<div>SHA256: {{password.sha256}}</div>-->
    <!--<div>SHA512: {{password.sha512}}</div>-->
    <!--</div>-->
</div>

<div class="generatorOptions">
    <div class="row">
        <div class="col-sm-7">
            <h6>Use characters:</h6>

            <div class="form-check">
                <label class="checkbox-container"> lowercase <span class="exampleLabel">(e.g. abcdef)</span>
                    <input type="checkbox" [(ngModel)]="lowercase" (change)="onOptionsChange()">
                    <span class="checkmark"></span>
                </label>

            </div>

            <div class="form-check">
                <label class="checkbox-container"> uppercase <span class="exampleLabel">(e.g. ABCDEF)</span>
                    <input type="checkbox" [(ngModel)]="uppercase" (change)="onOptionsChange()">
                    <span class="checkmark"></span>
                </label>
            </div>


            <div class="form-check">
                <label class="checkbox-container"> numbers <span class="exampleLabel">(e.g. 012345)</span>
                    <input type="checkbox" [(ngModel)]="numbers" (change)="onOptionsChange()">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-check">
                <label class="checkbox-container"> symbols <span class="exampleLabel">(e.g. !@#$%^)</span>
                    <input type="checkbox" [(ngModel)]="symbols" (change)="onOptionsChange()">
                    <span class="checkmark"></span>
                </label>
            </div>

        </div>

        <div class="col-sm-5">

            <h6>Length:</h6>

            <div class="rangeWrapper">

                <span class="lengthInputWrapper">
                    <input type="text" [(ngModel)]="length"/>
                </span>

                <span class="lengthSliderWrapper custom-range-slider">
                    <label for="passwordLength"></label>
                    <input type="range" class="slider" min="{{lengthMin}}" max="{{lengthMax}}" step="{{lengthStep}}"
                           [(ngModel)]="length" id="passwordLength" (input)="onOptionsChange()">
                 </span>
            </div>

        </div>

    </div>
</div>